<div  th:fragment="c_header"  xmlns:th="http://www.thymeleaf.org">
 	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>企伴侣</title>
    <script th:src="@{/static/js/lib/jquery.min.js}"  src="/static/js/lib/jquery.min.js"></script>
    <!--layui框架样式-->
    <link  th:href="@{/static/js/lib/layui/css/layui.css}" rel="stylesheet" href="/static/js/lib/layui/css/layui.css">
    <!--layui js-->
    <script th:src="@{/static/js/lib/layui/layui.js}" src="/static/js/lib/layui/layui.js"></script>
    <!--chosen框架样式-->
    <!--chosen-->
    <link th:href="@{/static/js/lib/chosen/chosen.css}" rel="stylesheet" href="/static/js/lib/chosen/chosen.css">

    <script th:src="@{/static/js/lib/chosen/chosenjquery.js}" src="/static/js/lib/chosen/chosenjquery.js"></script>
    <!--全局公共样式-->
    <link th:href="@{/static/css/public.css}" rel="stylesheet" href="/static/css/public.css">
    <!--全局公共js-->
    <script  th:src="@{/static/js/global.js}"  src="/static/js/global.js"></script>

    <!--私有资金页面css-->
    <link rel="stylesheet" th:href="@{/static/css/capital.css}"  href="/static/css/capital.css">
    <!--私有js-->
    <script th:src="@{/static/js/capital.js}"  src="/static/js/capital.js"></script>
    <script th:src="@{/static/js/lib/Validform_v5.3.2_min.js}" src="/static/js/lib/Validform_v5.3.2_min.js"></script>
</div>